body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.books {
    margin-top: 30px;
}

.books h2 {
    color: #333;
}

.books ul {
    list-style-type: none;
    padding: 0;
}

.books ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.books ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: white;
}
